/************************************************************************/
/* RESET  */
/***********************************************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

button{
  border: none;
  background-color: transparent;
}

/***********************************************************************/
/* general style */
/***********************************************************************/

/************** font-style ****************/

*{
  font-family: Roboto, sans-serif; 
  color: black;
  text-align:justify;
}

/* import Railey font family */
@font-face { 
  src: url('../Railey-PersonalUse.ttf'); 
  font-family: Railey; 
} 

.font-railey{
  font-family: Railey, Roboto, sans-serif;
}

/*****************************************/

/* Header and Footer Styles */

.spc-banner{
  background-color: lightblue;
  display: flex;
  justify-content : space-between;
  align-items: center;
  gap : 2%;
  padding: 2%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo{
  width: 80px;
  height : auto;
}

.brand{ 
  font-size: 1rem;
  margin-bottom: 0;
  text-align : center;
}

.header__container-links{
  display: flex;
  flex-direction: column; 
  justify-content:space-evenly;
  padding-left:0px;
  gap:2%;
}

.link:hover {
  opacity:0.5;
}

.footer__container-links{
  display: flex;
  flex-direction : column;
  justify-content:space-evenly;
  gap: 2%;
}

.spc-icon{
  width: 32px;
  height: auto;
}

/************************************************************/

/* separator Styles */
.hr{
  width: 80%;
  height: 5px;
  background-color: rgb(202, 207, 210);
  margin:30px auto;
}

.section-style{
  margin : 0 5%;
}

.title2-style{
  padding-bottom : 15px;
}

.li-style{
  margin-bottom: 10px;
}

/* for presentation section in index.html and in adoption.html */
.presentation__title{
  color : white;
  font-size:1.2rem;
  margin-bottom: 0;
}

/************************************************/
/****************INDEX.HTML**********************/
/************************************************/

/**************************************presentation section ************/
.presentation{
  position : relative;        
  display : flex;
  justify-content : flex-end;
}

.presentation__image{
  width: 100%;
  max-width : 1200px;
  height : auto;
}

.presentation__container{
  position: absolute;
  display : flex;
  flex-direction : column;
  align-items : flex-end;
  top : 70%;
  gap : 2px;
  margin-right : 3%;
} 

.presentation__container-links{
  display: flex;
  gap: 10px;
}

.spc-button{
  border-radius: 10px;
  background-color: lightblue;
  color: black;
  padding: 4px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.spc-button:hover{
  background-color:  rgb(139, 186, 202);
}  

/***************** who are we and join us sections*********************/
.flex-style{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap : 20px;
}

.last-p{
  margin-bottom:0;
}

/*********************************who are we section ******************/

/****************** Carousel Styles *************/
#spc-carousel, .carousel-item{
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel-indicators{
  margin-bottom:0;
}

 .carousel-caption{
  position:absolute;
  padding: 0;
  top:0;
  right : 0;
  left : 0;
 }

.carousel__text-style{
  color: black;
  background-color: lightblue;
  opacity: 0.6;
  text-align:center;
}

.visibility{
  visibility: hidden;
}

/************** Accordion Styles **********************/

.accordion__container{
  padding: 0;
}

 .accordion{
  --bs-accordion-btn-focus-box-shadow:rgb(139, 186, 202);
  --bs-accordion-color: black;
  --bs-accordion-active-color: black;
  --bs-accordion-btn-color: black;
}

.accordion-button{
  background-color: lightblue;
  border-bottom-color: black;
  border-left-color: black;
  border-right-color : black;
  border-top-color:black;
  color:black;
  outline-color: black;
}

.accordion-button:hover, .accordion-button:not(.collapsed){
  background-color:  rgb(139, 186, 202);
  color: black;
}  

.accordion-button:focus{
  color: black;
}

 .accordion-body{
  padding-left : 0;
  padding-right : 0;
} 

/**************************Contact section***************/

.card-body{
  padding:5% 2%;
}

.without-justification{
  text-align:left;
}

.underlined_link{
  text-decoration:underline;
  color:  rgb(90, 155, 176);
}

/************************************************/
/****************ADOPTION.HTML**********************/
/************************************************/

 .p-reduced-margin-bottom{
  margin-bottom: 7px;
} 

.title3-style{
  margin-top :30px;
  margin-bottom : 15px;
  font-size: 1.2rem;
} 

.title3-background-color{
  background-color: lightblue;
  padding-right: 20px;
}

/* presentation adoption */ 
.presentation-adoption{
  position : relative;
  display: flex;
  justify-content : center;
}

.presentation-adoption__image{
  display : block;
  width: 100%;
  max-width: 600px;
  height : auto;
}

.presentation-adoption__container{
  position: absolute;
  top : 5%;
  margin : 0 3%;
} 

/***************************************/

/*    cats section **********/
/* cats grid */
.cats-grid{
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*************************************************************************************/
/*************************************************************************************/
                                    /* MEDIA QUERIES */
/*************************************************************************************/
/*************************************************************************************/

/*************************width screen > 500px************************/

@media screen and (min-width: 500px) {

  /************* general Styles *****************************/

  /* **********header and footer styles ****** */
  /*change*/
  .logo{
    width: 150px;
  }

  /*new*/
  .brand{ 
    font-size: 1.2rem;
  }

  /*new*/
  .footer__container-links{
    flex-direction : row;
    gap : 5%
  }

  /****************************/

    /* for presentation section in index.html and in adoption.html */
  /*new*/
  .presentation__title{
    font-size:1.4rem;
  }

  /*************************** index.html *******************/

  /*****************presentation section */
  /*change*/
    .presentation__container{
    gap : 10px;
    top : 10%;
  } 

  /*new*/
  .presentation__container-links{
    gap: 20px;
  }

  /*new*/
  .spc-button{
    padding: 6px 20px;
  } 

  /*******************who are we section */
  /*new*/
  .visibility{
    visibility: visible;
  }
  
  /*************************** adoption.html *******************/

  .title3-style{
    margin-bottom : 20px;
    font-size: 1.4rem;
  } 

  .cats-grid{
    grid-template-columns: repeat(2, 1fr); /* 2 columns same width */
    grid-gap: 25px;
  }

  /**************700px < width screen < 900px ***********************************/

  @media screen and (min-width: 700px) {

     /************* general Styles *****************************/

    /* header and footer styles  */
    /*new*/
    .header__container-links{
      flex-direction : row;
      gap: 10px;
      font-size:1.2rem;
    }

    /*change*/
    .brand{ 
      font-size: 1.4rem;
    }

    /*new*/
    .spc-icon{
      width: 40px;
      height: auto;
    }

    /**************************/

    .hr {
      margin: 40px auto;
    }

    /* for presentation section in index.html and in adoption.html */
    /*change*/
    .presentation__title{
      font-size:1.6rem;
    }

/*************************** index.html *******************/

    /*who are we section and join us section */
    /*new*/
    .flex-style{
      gap : 30px;
    }

    /*presentation section */
    /*change*/
    .presentation__container{
      gap : 15px;
    } 

    /*change*/
    .spc-button{
      font-size:1.2rem;
    } 

    /**************900px < width screen < 1100px ***********************************/

    @media screen and (min-width: 900px) {

       /************* general Styles *****************************/

      /* header and footer styles  */
      .header__container-links{
        gap: 20px;
      }

      /*change*/
      .footer__container-links{
        gap : 10%
      }
    
/*************************** index.html *******************/

      /*presentation section */
      /*change*/
      .presentation__container-links{
        gap: 20px;
      }
    
      /*join us */
      /*change*/
      .join-us > .flex-style{
        flex-direction:row;
        justify-content:space-between;
        align-items : center;
      }

      /*new*/
      .join-us__container-text{
        flex-shrink: 2;
      }

  /*************************** adoption.html *******************/

      .cats-grid{
        grid-template-columns: repeat(3, 1fr); /* 3 columns same width */
      }

      /**************width screen > 1100px ***********************************/

      @media screen and (min-width: 1100px) {
      
         /************* general Styles *****************************/

        .header__container-links{
          gap: 30px;
        }

/*************************** index.html *******************/

          /*presentation section */
        .presentation__container{
          gap : 20px;
          left : 55%;
        } 

        .presentation__image{
          display : block;
          margin : auto;
        }

        /* who are we and join us section */
        /*change*/
        .flex-style{
          flex-direction:row;
          justify-content:space-between;
          align-items : center;
        }

  /*************************** adoption.html *******************/

        .cats-grid{
          grid-template-columns: repeat(4, 1fr); /* 4 columns same width */
        }

      }
    } 
  } 
}